@{
    Layout = "_AdminLayout";
}
@model Category
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                @Model.CategoryName isimli kategoriyi silmek istiyor musunuz?
                <form asp-controller="Category" asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
                    <input type="hidden" name="Id" value="@Model.Id">
                    <button type="submit" class="btn btn-danger">Evet</button>
                    <a asp-action="Index" asp-controller="Category" type="button" class="btn btn-primary">Hayır</a>
                </form>
            </div>
        </div>
    </div>
</div>