@if (TempData["message"] != null)
{
    <div class="container">
        <div class="alert alert-success border-0 shadow-sm d-flex align-items-center justify-content-center py-3 mb-0" 
             style="border-radius: 15px; background: linear-gradient(90deg, #10ac84 0%, #1dd1a1 100%); color: white;">
            <i class="fa-solid fa-circle-check me-3 fs-4"></i>
            <div class="fw-bold">
                @TempData["message"]
            </div>
            <button type="button" class="btn-close btn-close-white ms-4" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}